﻿@import '../xb-effects';
@import '../palette';

#info-container {
    margin-top: 20px;
    text-align: center;
}

#notification-box, #achievement-box {
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 768px), (min-width: 992px) {
        .message, .title { line-height: 32px; }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .message, .title { line-height: 24px; }
    }
}

#notification-box {
    .message-container {
        display: table;
    }

    .message {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.1em;
        text-align: center;
    }

    .icon {
        float: left;
        margin-right: 10px;
    }
    
    @media (max-width: 768px), (min-width: 992px) {
        .message-container { height: 64px; }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .message-container { height: 48px; }
    }
}

#achievement-box {
    .message {
        font-size: 1.1em;
        text-align: center;
    }

    .title {
        font-size: 1.55em;
        font-style: italic;
        font-weight: bold;
        color: $primary-color;
    }
    
    .icon {
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

        -webkit-animation: spin 5s linear infinite;
        -moz-animation: spin 5s linear infinite;
        animation: spin 5s linear infinite;

        &.left {
            float: left;
            margin-right: 17px;
        }

        &.right {
            float: right;
            margin-left: 15px;
        }
    }
   
    @media (max-width: 768px), (min-width: 992px) {
        .message, .title { line-height: 32px; }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .message, .title { line-height: 24px; }
    }
}