﻿@import '../palette';
@import '../xb-effects';
@import '../generic';

#score {
    @include no-selection;
    margin: 30px 0px 50px 0px;
    cursor: default;

    .right-container {
        margin-right: 0px;
        padding: 0px;

        #counters-container {
            text-align: center;

            @media (min-width: 768px) {
                font-size: 2.5em;
            }

            @media (max-width: 768px) {
                font-size: 2em;
            }

            .composite-button {
	            @include inner-shadow(0.5, 30px);
                display: block !important;
                margin-left: 0px;
                border-color: $border-color;
	            background-color: rgba(66, 169, 253, 0.4);
        
                &:first-child {
                    @include multi-border-radius(10px, 0px, 0px, 10px);
                }

                &:last-child {
                    @include multi-border-radius(0px, 10px, 10px, 0px);
                }
            }
        }
    }

    .left-container {
        padding-left: 0px;

        .box {
            @include border-radius(10px);
        }

        #clicker {
            width: 90%;
            cursor: pointer;

            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

            -webkit-animation: spin 20s linear infinite;
            -moz-animation: spin 20s linear infinite;
            animation: spin 20s linear infinite;
        }

        #click-amount {
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;

            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;

            pointer-events: none;
            font-size: 3em;
        }
    }
}

#end-game-overlay {
    .title { font-size: 1.85em; }
}