@font-face {
  font-family: JandaManatee;
  src: url("fonts/JandaManateeSolid.ttf"); }
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: no-repeat center center fixed; }

@media (min-width: 768px) {
  @-webkit-keyframes animatedBackground {
    0% {
      background-position: 50% 0%; }
    25% {
      background-position: 100% 50%; }
    50% {
      background-position: 50% 100%; }
    75% {
      background-position: 0% 50%; }
    100% {
      background-position: 50% 0%; } }
  @keyframes animatedBackground {
    0% {
      background-position: 50% 0%; }
    25% {
      background-position: 100% 50%; }
    50% {
      background-position: 50% 100%; }
    75% {
      background-position: 0% 50%; }
    100% {
      background-position: 50% 0%; } }
  #main {
    margin: 0 auto;
    width: 80%;
    min-width: 768px;
    max-width: 1000px; }

  body.fixed-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  body.moving-background {
    background-repeat: repeat-x repeat-y;
    animation: animatedBackground 60s linear infinite; } }
@media (min-width: 1920px) {
  body {
    background-image: url("images/bg-squares-2560x1440.jpg"); } }
@media (min-width: 992px) and (max-width: 1920px) {
  body {
    background-image: url("images/bg-squares-1920x1080.jpg"); } }
@media (min-width: 768px) and (max-width: 992px) {
  #main {
    font-size: 0.9em; }

  body {
    background-image: url("images/bg-squares-1280x720.jpg"); } }
@media (max-width: 768px) {
  #main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

  body {
    background-image: url("images/bg-squares-800x600.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
#main-title {
  margin-top: 30px;
  text-align: center;
  font-size: 3.5em; }
  #main-title .beta {
    position: relative;
    height: 100%;
    top: -30px;
    left: 10px;
    font-size: 0.5em; }

#play-game {
  margin-top: 50px;
  text-align: center;
  font-size: 2em; }
  #play-game a {
    text-decoration: none; }

.icon {
  z-index: 5; }
  @media (max-width: 768px), (min-width: 992px) {
    .icon {
      width: 64px;
      height: 64px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .icon {
      width: 48px;
      height: 48px; } }

#local-storage-warning {
  padding-bottom: 20px; }

@font-face {
  font-family: JandaManatee;
  src: url("fonts/JandaManateeSolid.ttf"); }
.embossed {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8); }

.fancy {
  text-shadow: 0px 0px 5px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
  filter: glow(color=black, strength=1);
  font-family: JandaManatee, 'Segoe UI', 'Trebuchet MS', Arial;
  color: white; }
  .fancy.negative, .fancy.box.pushable.light.pushed, .fancy.box.pushable.light:active, .fancy.box.pushable.light.hoverable:hover, .fancy.box.button-like.light.pushed, .fancy.box.button-like.light:active, .fancy.box.button-like.light.hoverable:hover {
    text-shadow: 0px 0px 5px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
    filter: glow(color=white, strength=1);
    color: rgba(0, 111, 232, 0.7); }

.clickable {
  cursor: pointer; }

.box-group {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block; }
  .box-group:last-child {
    margin-right: 0px; }
  .box-group:first-child {
    margin-left: 4px; }

.box {
  border-width: 1px;
  border-style: solid; }
  .box.light {
    border-color: #444;
    background-color: rgba(255, 255, 255, 0.6); }
  .box.negative, .box.pushable.light.pushed, .box.pushable.light:active, .box.pushable.light.hoverable:hover, .box.button-like.light.pushed, .box.button-like.light:active, .box.button-like.light.hoverable:hover {
    border-color: white;
    background-color: rgba(0, 111, 232, 0.7);
    color: white;
    border-right-width: 1px !important; }
    .box.negative img, .box.pushable.light.pushed img, .box.pushable.light:active img, .box.pushable.light.hoverable:hover img, .box.button-like.light.pushed img, .box.button-like.light:active img, .box.button-like.light.hoverable:hover img {
      -webkit-filter: invert(1);
      filter: invert(1); }
    .box.negative + .box, .box.pushable.light.pushed + .box, .box.pushable.light:active + .box, .box.pushable.light.hoverable:hover + .box, .box.button-like.light.pushed + .box, .box.button-like.light:active + .box, .box.button-like.light.hoverable:hover + .box {
      border-left-width: 0px; }
  .box.primary {
    border-color: #444;
    background-color: rgba(0, 111, 232, 0.7);
    font-weight: bold;
    color: white; }
  .box.secondary {
    border-color: #444;
    background-color: rgba(151, 201, 254, 0.7);
    font-weight: bold;
    color: #05348c; }
  .box.gloomy {
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    border-color: #444;
    text-align: center;
    background-color: rgba(66, 169, 253, 0.4); }
  .box.pushable, .box.button-like {
    cursor: pointer; }
    .box.pushable.primary.pushed, .box.pushable.primary:active, .box.pushable.primary.hoverable:hover, .box.button-like.primary.pushed, .box.button-like.primary:active, .box.button-like.primary.hoverable:hover {
      border-color: #444;
      background-color: rgba(151, 201, 254, 0.7);
      font-weight: bold;
      color: #05348c; }
    .box.pushable.secondary.pushed, .box.pushable.secondary:active, .box.pushable.secondary.hoverable:hover, .box.button-like.secondary.pushed, .box.button-like.secondary:active, .box.button-like.secondary.hoverable:hover {
      border-color: #444;
      background-color: rgba(0, 111, 232, 0.7);
      font-weight: bold;
      color: white; }
    .box.pushable.gloomy.pushed, .box.pushable.gloomy:active, .box.pushable.gloomy.hoverable:hover, .box.button-like.gloomy.pushed, .box.button-like.gloomy:active, .box.button-like.gloomy.hoverable:hover {
      -webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      border-color: white; }
    .box.pushable.pushed, .box.pushable:active, .box.button-like.pushed, .box.button-like:active {
      border-right-width: 1px; }
      .box.pushable.pushed img, .box.pushable:active img, .box.button-like.pushed img, .box.button-like:active img {
        -webkit-filter: invert(1);
        filter: invert(1); }
      .box.pushable.pushed + .box, .box.pushable:active + .box, .box.button-like.pushed + .box, .box.button-like:active + .box {
        border-left-width: 0px; }
  .box.small-pad {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px; }
  .box.medium-pad {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px; }
  .box.large-pad {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px; }
  .box.composite {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    border-right-width: 0px;
    margin-right: 0px; }
    .box.composite.small-pad, .box.composite.medium-pad {
      margin-left: -4px; }
    .box.composite.large-pad {
      margin-left: 0px; }
    .box.composite:first-child.small-pad, .box.composite:first-child.medium-pad {
      -moz-border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -khtml-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -khtml-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .box.composite:first-child.large-pad {
      -moz-border-top-left-radius: 10px;
      -webkit-border-top-left-radius: 10px;
      -khtml-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-bottom-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -khtml-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .box.composite:last-child {
      border-right-width: 1px !important; }
      .box.composite:last-child.small-pad, .box.composite:last-child.medium-pad {
        -moz-border-top-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -khtml-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -khtml-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .box.composite:last-child.large-pad {
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -khtml-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -khtml-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px; }

#main-tooltip {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  display: none;
  max-width: 500px;
  position: fixed;
  z-index: 10;
  border-radius: 7px;
  padding: 8px;
  background-color: rgba(30, 30, 30, 0.85);
  color: white;
  border: 1px solid #aaa; }

.break-float {
  clear: both;
  height: 0px; }

.hidden {
  display: none; }

span.line:after {
  content: "\000A";
  white-space: pre; }

.play-area {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }
  @media (max-width: 768px) {
    .play-area {
      margin-top: 40px !important; } }
  @media (min-width: 768px) {
    .play-area {
      margin-top: 90px !important; } }

#tab-contents {
  padding: 0px 20px 0px 20px !important;
  margin-right: 0px;
  margin-bottom: 100px; }
  @media (max-width: 768px) {
    #tab-contents {
      margin-top: 70px; } }

.empty {
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px; }

.tab-content {
  width: 100%;
  text-align: center; }
  .tab-content div.list {
    margin-top: 20px; }
    .tab-content div.list .item > div {
      padding: 5px; }
    .tab-content div.list .icon-container {
      position: relative; }
    .tab-content div.list .bottom-right-indicator {
      position: absolute;
      bottom: 0px; }
  .tab-content table.list {
    width: 100%;
    border-spacing: 10px 20px;
    border-collapse: separate; }
    .tab-content table.list div.icon-container {
      position: relative; }
  .tab-content#resources table.list td:nth-child(1) {
    width: 15%; }
  .tab-content#resources table.list td:nth-child(2) {
    width: 60%; }
  .tab-content#resources table.list td:nth-child(3) {
    width: 25%; }
  .tab-content#resources table.list td:last-child .res-count {
    margin-left: 15px;
    width: 85%; }
  .tab-content#options table.list td:first-child {
    text-align: left; }
  .tab-content#options table.list td:last-child {
    text-align: right; }

@font-face {
  font-family: JandaManatee;
  src: url("fonts/JandaManateeSolid.ttf"); }
@font-face {
  font-family: JandaManatee;
  src: url("fonts/JandaManateeSolid.ttf"); }
.embossed {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8); }

.fancy {
  text-shadow: 0px 0px 5px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
  filter: glow(color=black, strength=1);
  font-family: JandaManatee, 'Segoe UI', 'Trebuchet MS', Arial;
  color: white; }
  .fancy.negative, .fancy.box.pushable.light.pushed, .fancy.box.pushable.light:active, .fancy.box.pushable.light.hoverable:hover, .fancy.box.button-like.light.pushed, .fancy.box.button-like.light:active, .fancy.box.button-like.light.hoverable:hover {
    text-shadow: 0px 0px 5px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
    filter: glow(color=white, strength=1);
    color: rgba(0, 111, 232, 0.7); }

.clickable {
  cursor: pointer; }

.box-group {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block; }
  .box-group:last-child {
    margin-right: 0px; }
  .box-group:first-child {
    margin-left: 4px; }

.box {
  border-width: 1px;
  border-style: solid; }
  .box.light {
    border-color: #444;
    background-color: rgba(255, 255, 255, 0.6); }
  .box.negative, .box.pushable.light.pushed, .box.pushable.light:active, .box.pushable.light.hoverable:hover, .box.button-like.light.pushed, .box.button-like.light:active, .box.button-like.light.hoverable:hover {
    border-color: white;
    background-color: rgba(0, 111, 232, 0.7);
    color: white;
    border-right-width: 1px !important; }
    .box.negative img, .box.pushable.light.pushed img, .box.pushable.light:active img, .box.pushable.light.hoverable:hover img, .box.button-like.light.pushed img, .box.button-like.light:active img, .box.button-like.light.hoverable:hover img {
      -webkit-filter: invert(1);
      filter: invert(1); }
    .box.negative + .box, .box.pushable.light.pushed + .box, .box.pushable.light:active + .box, .box.pushable.light.hoverable:hover + .box, .box.button-like.light.pushed + .box, .box.button-like.light:active + .box, .box.button-like.light.hoverable:hover + .box {
      border-left-width: 0px; }
  .box.primary {
    border-color: #444;
    background-color: rgba(0, 111, 232, 0.7);
    font-weight: bold;
    color: white; }
  .box.secondary {
    border-color: #444;
    background-color: rgba(151, 201, 254, 0.7);
    font-weight: bold;
    color: #05348c; }
  .box.gloomy {
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    border-color: #444;
    text-align: center;
    background-color: rgba(66, 169, 253, 0.4); }
  .box.pushable, .box.button-like {
    cursor: pointer; }
    .box.pushable.primary.pushed, .box.pushable.primary:active, .box.pushable.primary.hoverable:hover, .box.button-like.primary.pushed, .box.button-like.primary:active, .box.button-like.primary.hoverable:hover {
      border-color: #444;
      background-color: rgba(151, 201, 254, 0.7);
      font-weight: bold;
      color: #05348c; }
    .box.pushable.secondary.pushed, .box.pushable.secondary:active, .box.pushable.secondary.hoverable:hover, .box.button-like.secondary.pushed, .box.button-like.secondary:active, .box.button-like.secondary.hoverable:hover {
      border-color: #444;
      background-color: rgba(0, 111, 232, 0.7);
      font-weight: bold;
      color: white; }
    .box.pushable.gloomy.pushed, .box.pushable.gloomy:active, .box.pushable.gloomy.hoverable:hover, .box.button-like.gloomy.pushed, .box.button-like.gloomy:active, .box.button-like.gloomy.hoverable:hover {
      -webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
      border-color: white; }
    .box.pushable.pushed, .box.pushable:active, .box.button-like.pushed, .box.button-like:active {
      border-right-width: 1px; }
      .box.pushable.pushed img, .box.pushable:active img, .box.button-like.pushed img, .box.button-like:active img {
        -webkit-filter: invert(1);
        filter: invert(1); }
      .box.pushable.pushed + .box, .box.pushable:active + .box, .box.button-like.pushed + .box, .box.button-like:active + .box {
        border-left-width: 0px; }
  .box.small-pad {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px; }
  .box.medium-pad {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px; }
  .box.large-pad {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px; }
  .box.composite {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    border-right-width: 0px;
    margin-right: 0px; }
    .box.composite.small-pad, .box.composite.medium-pad {
      margin-left: -4px; }
    .box.composite.large-pad {
      margin-left: 0px; }
    .box.composite:first-child.small-pad, .box.composite:first-child.medium-pad {
      -moz-border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -khtml-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -khtml-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .box.composite:first-child.large-pad {
      -moz-border-top-left-radius: 10px;
      -webkit-border-top-left-radius: 10px;
      -khtml-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-bottom-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -khtml-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .box.composite:last-child {
      border-right-width: 1px !important; }
      .box.composite:last-child.small-pad, .box.composite:last-child.medium-pad {
        -moz-border-top-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -khtml-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -khtml-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .box.composite:last-child.large-pad {
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -khtml-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -khtml-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px; }

#tab-area {
  position: relative; }

#tab-headers {
  margin-left: 0px;
  padding-left: 0px; }
  @media (min-width: 768px) {
    #tab-headers {
      padding-right: 15px; } }
  @media (max-width: 768px) {
    #tab-headers {
      padding-right: 0px; } }

.item {
  z-index: 0;
  margin-bottom: 20px;
  overflow: visible; }
  .item .title {
    font-size: 1.65em;
    font-style: italic;
    font-weight: bold;
    color: #006fe8; }
  .item .cost {
    position: relative;
    top: 5px;
    font-size: 1.2em; }
  .item .level:before {
    content: "lv"; }
  .item .delta:before {
    content: "+"; }
  .item .count:before {
    content: "x"; }
  .item .tooltip {
    display: none; }
  .item .progress {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px; }
    .item .progress .progress-label {
      text-shadow: 0px 0px 5px #006fe8, -1px -1px 1px #006fe8, 1px -1px 1px #006fe8, -1px 1px 1px #006fe8, 1px 1px 1px #006fe8;
      filter: glow(color=#006fe8, strength=1);
      position: absolute;
      display: block;
      width: 100%; }
  .item strong {
    color: #05348c; }
  .item.disabled {
    opacity: 0.5; }

.device {
  height: 80px; }
  .device .bottom-right-indicator {
    right: 0px; }

.upgrade {
  height: 190px; }

.inventory-item {
  height: 200px; }

.shop-item {
  height: 200px; }

.mini-menu {
  position: absolute;
  top: -55px; }
  .mini-menu.right {
    right: 0px; }
  .mini-menu.left {
    left: 0px; }
  .mini-menu .icon {
    width: 32px;
    height: 32px; }
  .mini-menu .stack, .mini-menu .delta {
    position: relative;
    top: 3px;
    font-size: 1.2em; }

#stats {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: justify; }
  #stats .text {
    font-size: 1.1em;
    margin-bottom: 15px; }
  #stats .title {
    font-size: 1.65em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #006fe8; }
  #stats ul.achievements {
    list-style-type: none;
    cursor: default;
    padding: 0px;
    margin: 0px; }
    #stats ul.achievements li:hover {
      color: white;
      background-color: rgba(0, 111, 232, 0.7); }
    #stats ul.achievements .right {
      float: right; }
  #stats .league-visual {
    float: left;
    margin-right: 10px; }
    #stats .league-visual .league {
      line-height: 64px;
      font-size: 1.9em; }
    #stats .league-visual .laurel {
      width: 32px;
      height: 64px; }
      #stats .league-visual .laurel.left {
        float: left;
        margin-right: 7px; }
      #stats .league-visual .laurel.right {
        float: right;
        margin-left: 5px; }

.overlay {
  z-index: 11;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center; }
  .overlay .main.box {
    background-color: rgba(255, 255, 255, 0.9) !important;
    position: relative;
    top: 25%;
    margin: 0 auto;
    padding: 20px;
    width: 50%; }
  .overlay .data {
    width: 100% !important;
    min-height: 200px; }
  .overlay .bottom {
    margin-top: 20px; }

.break-float {
  clear: both;
  height: 0px; }

.hidden {
  display: none; }

span.line:after {
  content: "\000A";
  white-space: pre; }

#score {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  margin: 30px 0px 50px 0px;
  cursor: default; }
  #score .right-container {
    margin-right: 0px;
    padding: 0px; }
    #score .right-container #counters-container {
      text-align: center; }
      @media (min-width: 768px) {
        #score .right-container #counters-container {
          font-size: 2.5em; } }
      @media (max-width: 768px) {
        #score .right-container #counters-container {
          font-size: 2em; } }
      #score .right-container #counters-container .composite-button {
        -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
        display: block !important;
        margin-left: 0px;
        border-color: #444;
        background-color: rgba(66, 169, 253, 0.4); }
        #score .right-container #counters-container .composite-button:first-child {
          -moz-border-top-left-radius: 10px;
          -webkit-border-top-left-radius: 10px;
          -khtml-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
          -moz-border-top-right-radius: 0px;
          -webkit-border-top-right-radius: 0px;
          -khtml-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
          -moz-border-bottom-right-radius: 0px;
          -webkit-border-bottom-right-radius: 0px;
          -khtml-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
          -moz-border-bottom-left-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -khtml-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px; }
        #score .right-container #counters-container .composite-button:last-child {
          -moz-border-top-left-radius: 0px;
          -webkit-border-top-left-radius: 0px;
          -khtml-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
          -moz-border-top-right-radius: 10px;
          -webkit-border-top-right-radius: 10px;
          -khtml-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
          -moz-border-bottom-right-radius: 10px;
          -webkit-border-bottom-right-radius: 10px;
          -khtml-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
          -moz-border-bottom-left-radius: 0px;
          -webkit-border-bottom-left-radius: 0px;
          -khtml-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px; }
  #score .left-container {
    padding-left: 0px; }
    #score .left-container .box {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px; }
    #score .left-container #clicker {
      width: 90%;
      cursor: pointer;
      -webkit-animation: spin 20s linear infinite;
      -moz-animation: spin 20s linear infinite;
      animation: spin 20s linear infinite; }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
    #score .left-container #click-amount {
      position: absolute;
      z-index: 10;
      top: 0px;
      left: 0px;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      pointer-events: none;
      font-size: 3em; }

#end-game-overlay .title {
  font-size: 1.85em; }

#info-container {
  margin-top: 20px;
  text-align: center; }

#notification-box, #achievement-box {
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 768px), (min-width: 992px) {
    #notification-box .message, #notification-box .title, #achievement-box .message, #achievement-box .title {
      line-height: 32px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    #notification-box .message, #notification-box .title, #achievement-box .message, #achievement-box .title {
      line-height: 24px; } }

#notification-box .message-container {
  display: table; }
#notification-box .message {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.1em;
  text-align: center; }
#notification-box .icon {
  float: left;
  margin-right: 10px; }
@media (max-width: 768px), (min-width: 992px) {
  #notification-box .message-container {
    height: 64px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #notification-box .message-container {
    height: 48px; } }

#achievement-box .message {
  font-size: 1.1em;
  text-align: center; }
#achievement-box .title {
  font-size: 1.55em;
  font-style: italic;
  font-weight: bold;
  color: #006fe8; }
#achievement-box .icon {
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  #achievement-box .icon.left {
    float: left;
    margin-right: 17px; }
  #achievement-box .icon.right {
    float: right;
    margin-left: 15px; }
@media (max-width: 768px), (min-width: 992px) {
  #achievement-box .message, #achievement-box .title {
    line-height: 32px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #achievement-box .message, #achievement-box .title {
    line-height: 24px; } }

/*# sourceMappingURL=main.css.map */
