﻿@font-face {
    font-family: JandaManatee;
    src: url('fonts/JandaManateeSolid.ttf');
}

@mixin fancy-font {
    font-family: JandaManatee, 'Segoe UI', 'Trebuchet MS', Arial;
}

@mixin regular-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}