﻿@mixin center {
    margin-left: auto;
    margin-right: auto;
}

@mixin no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.break-float {
    clear: both;
    height: 0px;
}

.hidden {
    display: none;
}

span.line:after {
    content:"\000A";
    white-space: pre;
}