﻿$primary-color: rgb(0, 111, 232);
$secondary-color: rgb(151, 201, 254);

$light-color: white;
$dark-color: rgb(5, 52, 140);

$border-color: #444;
$opaque-light: rgba(255, 255, 255, 0.6);

@mixin badge-primary {
    border-color: $border-color;
    background-color: rgba($primary-color, 0.7);
    font-weight: bold;
    color: $light-color;
}

@mixin badge-secondary {
    border-color: $border-color;
    background-color: rgba($secondary-color, 0.7);
    font-weight: bold;
    color: $dark-color;
}