﻿@mixin inner-shadow-colored($alpha, $blur-radius, $color) {
	-webkit-box-shadow: inset 0px 0px $blur-radius 0px rgba($color,$alpha);
	-moz-box-shadow: inset 0px 0px $blur-radius 0px rgba($color,$alpha);
	box-shadow: inset 0px 0px $blur-radius 0px rgba($color,$alpha);
}

@mixin inner-shadow($alpha, $blur-radius) {
    @include inner-shadow-colored($alpha, $blur-radius, black);
}

@mixin glow($color, $blur-radius) {
    -webkit-box-shadow: 0px 0px $blur-radius 0px $color;
    -moz-box-shadow: 0px 0px $blur-radius 0px $color;
    box-shadow: 0px 0px $blur-radius 0px $color;
}

@mixin text-outline($thickness, $color) {
    // Screw thickness
    text-shadow:  0px  0px 5px $color,
                 -1px -1px 1px $color, 
                  1px -1px 1px $color,
                 -1px  1px 1px $color, 
                  1px  1px 1px $color;
    filter: glow(color=$color,strength=1);
}


@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-left-radius($top-left) {
    -moz-border-top-left-radius: $top-left;
    -webkit-border-top-left-radius: $top-left;
    -khtml-border-top-left-radius: $top-left;
    border-top-left-radius: $top-left;
}

@mixin border-top-right-radius($top-right) {
    -moz-border-top-right-radius: $top-right;
    -webkit-border-top-right-radius: $top-right;
    -khtml-border-top-right-radius: $top-right;
    border-top-right-radius: $top-right;
}

@mixin border-bottom-right-radius($bottom-right) {
    -moz-border-bottom-right-radius: $bottom-right;
    -webkit-border-bottom-right-radius: $bottom-right;
    -khtml-border-bottom-right-radius: $bottom-right;
    border-bottom-right-radius: $bottom-right;
}

@mixin border-bottom-left-radius($bottom-left) {
    -moz-border-bottom-left-radius: $bottom-left;
    -webkit-border-bottom-left-radius: $bottom-left;
    -khtml-border-bottom-left-radius: $bottom-left;
    border-bottom-left-radius: $bottom-left;
}

@mixin multi-border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
    @include border-top-left-radius($top-left);
    @include border-top-right-radius($top-right);
    @include border-bottom-right-radius($bottom-right);
    @include border-bottom-left-radius($bottom-left);
}


@mixin background-size($size) {
    -webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin mini-badge($padding, $background-color) {
    @include border-radius(7px);
    padding: $padding;
    background-color: $background-color;
}