﻿@import '../fonts';
@import '../xb-effects';
@import '../palette';

body {
    @include regular-font;
	background: no-repeat center center fixed;
}

@media (min-width: 768px) {
    @-webkit-keyframes animatedBackground {
	    0% { background-position: 50% 0%; }
        25% { background-position: 100% 50%}
	    50% { background-position: 50% 100%; }
        75% { background-position: 0% 50%; }
        100% { background-position: 50% 0%; }
    }

    @keyframes animatedBackground {
	    0% { background-position: 50% 0%; }
        25% { background-position: 100% 50%}
	    50% { background-position: 50% 100%; }
        75% { background-position: 0% 50%; }
        100% { background-position: 50% 0%; }
    }

    #main {
        margin: 0 auto;
        width: 80%;
        min-width: 768px;
        max-width: 1000px;
    }

    body {
        &.fixed-background {
            @include background-size(cover);
        }

        &.moving-background {
            background-repeat: repeat-x repeat-y;
	        animation: animatedBackground 60s linear infinite;
        }
    }
}

@media (min-width: 1920px) {
    body { background-image: url("images/bg-squares-2560x1440.jpg"); }
}

@media (min-width: 992px) and (max-width: 1920px) {
    body { background-image: url("images/bg-squares-1920x1080.jpg"); }
}

@media (min-width: 768px) and (max-width: 992px) {
    #main { font-size: 0.9em; }
    body { background-image: url("images/bg-squares-1280x720.jpg"); }
}

@media (max-width: 768px) {
    #main {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    body {
        background-image: url("images/bg-squares-800x600.jpg");
        @include background-size(cover);
    }
}

#main-title {
    margin-top: 30px;
    text-align: center;
    font-size: 3.5em;

    .beta {
        position: relative;
        height: 100%;
        top: -30px;
        left: 10px;
        font-size: 0.5em;
    }
}

#play-game {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    
    a {
        text-decoration: none;
    }
}

.icon {
    z-index: 5;

    @media (max-width: 768px), (min-width: 992px) {
        width: 64px;
        height: 64px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        width: 48px;
        height: 48px;
    }
}

#local-storage-warning {
    padding-bottom: 20px;
}