﻿@import '../xb-effects';
@import '../palette';
@import '../fonts';

.embossed {
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5),
	            inset 0 1px 1px rgba(255,255,255,0.8);
}

.fancy {
    @include text-outline(1px, black);
    @include fancy-font;
    color: $light-color;

    &.negative {
        @include text-outline(1px, $light-color);
        color: rgba($primary-color, 0.7);
    }
}

.clickable {
    cursor: pointer;
}

.box-group {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;

    &:last-child {
        margin-right: 0px;
    }

    &:first-child {
        margin-left: 4px;
    }
}

.box {
    border-width: 1px;
    border-style: solid;

    &.light {
        border-color: $border-color;
        background-color: $opaque-light;
    }

    &.negative {
        border-color: $light-color;
        background-color: rgba($primary-color, 0.7);
        color: $light-color;
        border-right-width: 1px !important;

        img {
            -webkit-filter: invert(1);
            filter: invert(1);
        }

        + .box {
            border-left-width: 0px;
        }
    }

    &.primary {
        @include badge-primary;
    }

    &.secondary {
        @include badge-secondary;
    }

    &.gloomy {
	    @include inner-shadow(0.5, 30px);
        border-color: $border-color;
	    text-align: center;
	    background-color: rgba(66, 169, 253, 0.4);
    }


    &.pushable, &.button-like {
        cursor: pointer;

        &.primary.pushed, &.primary:active, &.primary.hoverable:hover {
            @include badge-secondary;
        }

        &.secondary.pushed, &.secondary:active, &.secondary.hoverable:hover {
            @include badge-primary;
        }

        &.light.pushed, &.light:active, &.light.hoverable:hover {
            @extend .negative;
        }

        &.gloomy.pushed, &.gloomy:active, &.gloomy.hoverable:hover {
            @include inner-shadow-colored(0.5, 30px, $light-color);
            border-color: $light-color;
        }

        &.pushed, &:active {
            border-right-width: 1px;

            img {
                -webkit-filter: invert(1);
                filter: invert(1);
            }

            + .box {
                border-left-width: 0px;
            }
        }
    }


    &.small-pad {
        @include border-radius(5px);
        padding: 2px 5px 2px 5px;
    }

    &.medium-pad {
        @include border-radius(5px);
        padding: 5px 10px 5px 10px;
    }

    &.large-pad {
        @include border-radius(10px);
        padding: 10px 20px 10px 20px;
    }


    &.composite {
        @include border-radius(0px);
        display: inline-block;
        border-right-width: 0px;
        margin-right: 0px;

        &.small-pad, &.medium-pad {
            margin-left: -4px;
        }

        &.large-pad {
            margin-left: 0px;
        }

        &:first-child {
            &.small-pad, &.medium-pad {
                @include border-top-left-radius(5px);
                @include border-bottom-left-radius(5px);
            }

            &.large-pad {
                @include border-top-left-radius(10px);
                @include border-bottom-left-radius(10px);
            }
        }

        &:last-child {
            &.small-pad, &.medium-pad {
                @include border-top-right-radius(5px);
                @include border-bottom-right-radius(5px);
            }
            
            &.large-pad {
                @include border-top-right-radius(10px);
                @include border-bottom-right-radius(10px);
            }

            border-right-width: 1px !important;
        }
    }
}