﻿@import '../xb-effects';
@import '../palette';

#main-tooltip {
    @include glow(rgba(0, 0, 0, 0.7), 20px);
    display: none;
    max-width: 500px;
    position: fixed;
    z-index: 10;
    border-radius: 7px;
    padding: 8px;
    background-color: rgba(30, 30, 30, 0.85);
    color: $light-color;
    border: 1px solid #aaa;
}