﻿@import '../generic';
@import '../palette';
@import '../xb-effects';

.play-area {
    @include no-selection;

    @media (max-width: 768px) {
        margin-top: 40px !important;
    }

    @media (min-width: 768px) {
        margin-top: 90px !important;
    }
}

#tab-contents {
    padding: 0px 20px 0px 20px !important;
    margin-right: 0px;
    margin-bottom: 100px;
    
    @media (max-width: 768px) {
        margin-top: 70px;
    }
}

.empty {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-content {
    width: 100%;
    text-align: center;

    div.list {
        margin-top: 20px;

        .item > div { 
            padding: 5px;
        }

        .icon-container {
            position: relative;
        }

        .bottom-right-indicator {
            position: absolute;
            bottom: 0px;
        }
    }

    table.list {
        width: 100%;
        border-spacing: 10px 20px;
        border-collapse: separate;

        div.icon-container { position: relative; }
    }

    &#resources table.list{
        td:nth-child(1) { width: 15%; }
        td:nth-child(2) { width: 60%; }
        td:nth-child(3) { width: 25%; }

        td:last-child {
            .res-count {
                margin-left: 15px;
                width: 85%;
            }
        }
    }

    &#options table.list {
        td:first-child { text-align: left; }
        td:last-child { text-align: right; }
    }
}