﻿@import '../fonts';
@import '../palette';
@import '../xb-effects';
@import '../shared/style';

#tab-area {
    position: relative;
}

#tab-headers {
    margin-left: 0px;
    padding-left: 0px;
   
    @media (min-width: 768px) {
        padding-right: 15px;
    }

    @media (max-width: 768px) {
        padding-right: 0px;
    }
}