﻿.overlay {
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
    text-align: center;

    .main.box {
        background-color: rgba(white, 0.9) !important;
        position: relative;
        top: 25%;
        margin: 0 auto;
        padding: 20px;
        width: 50%;
    }

    .data {
        width: 100% !important;
        min-height: 200px;
    }

    .bottom {
        margin-top: 20px;
    }
}