﻿@import '../palette';
@import '../xb-effects';

.item {
    z-index: 0;
    margin-bottom: 20px;
    overflow: visible;

    .title {
        font-size: 1.65em;
        font-style: italic;
        font-weight: bold;
        color: $primary-color;
    }

    .cost {
        position: relative;
        top: 5px;
        font-size: 1.2em;
    }

    .level:before { content: "lv"; }

    .delta:before { content: "+"; }

    .count:before { content: "x"; }

    .tooltip {
        display: none;
    }

    .progress {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;

        .progress-label {
            @include text-outline(1px, $primary-color);
            position: absolute;
            display: block;
            width: 100%;
        }
    }

    strong {
        color: $dark-color;
    }

    &.disabled {
        opacity: 0.5;
    }
}

.device  { 
    height: 80px; 
    .bottom-right-indicator { right: 0px; }
}

.upgrade { height: 190px; }
.inventory-item { height: 200px; }
.shop-item { height: 200px; }

.mini-menu {
    position: absolute;
    top: -55px;

    &.right { right: 0px; }
    &.left { left: 0px; }

    .icon {
        width: 32px;
        height: 32px;
    }

    .stack, .delta {
        position: relative;
        top: 3px;
        font-size: 1.2em;
    }
}

#stats {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;

    .text {
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    .title {
        font-size: 1.65em;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        color: $primary-color;
    }

    ul.achievements {
        list-style-type: none;
        cursor: default;
        padding: 0px;
        margin: 0px;

        li:hover {
            color: $light-color;
            background-color: rgba($primary-color, 0.7);
        }

        .right {
            float: right;
        }
    }

    .league-visual {
        float: left;
        margin-right: 10px;

        .league {
            line-height: 64px;
            font-size: 1.9em;
        }

        .laurel {
            width: 32px;
            height: 64px;

            &.left {
                float: left;
                margin-right: 7px;
            }

            &.right {
                float: right;
                margin-left: 5px;
            }
        }
    }
}